body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    padding: 0 15vh;
    color: #ede7c6;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
}

.entry {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 50px;
}

form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: #e5e5e5;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input,
textarea {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

#content::before {
    content: "I'm feeling: ";
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    display: inline-flex;
    margin-top: 10px;
    justify-content: center;
    align-self: center;
    width: 100%;
}

#entryHolder {
    padding: 20px;
}

#date::before {
    content: "Date: ";
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#temp::before {
    content: "Temperature: ";
}

:-ms-input-placeholder {
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}